$primary: darkslateblue;
$secondary:lightblue;
$tertiary: rgb(98, 255, 0);
$accent: rgb(194, 203, 213);
$liteText: white;
$darkText: black;

body {
  color:$darkText;
}

nav {
  background-color: $primary;
  color: $liteText;
}

small {
  color: $accent;
}

main {
  color: $tertiary;
}
